@use "../abstracts/mixins" as m;

.form {
  @include m.flex(column);
  width: clamp(20rem, 85vw, 25rem);
  background: var(--color-neutral-2);
  border-radius: var(--size-sm);
  padding: var(--size-md);
  gap: var(--size-sm);
  position: relative;

  &__content {
    @include m.flex(column);
    border: none;
    width: 100%;
    height: 100%;
    gap: var(--size-md);
  }

  &__inputs {
    @include m.flex(row, center, space-between);
    width: 100%;
    gap: 0.5rem;
    position: relative;
  }

  &__input {
    &--button {
      display: none;
    }
  }

  &__legend {
    @include m.flex(column, flex-start);
    gap: var(--size-sm);
  }

  &__text-content {
    @include m.flex(column, flex-start);
    gap: var(--size-sm);
  }

  &__output {
    color: var(--color-primary);
    background: var(--color-neutral-3);
    padding: calc(var(--size-sm) / 3) calc(var(--size-sm) / 2);
    border-radius: var(--size-sm);
  }
}
