@use "../abstracts/mixins" as m;

.icon {
  &__wrapper {
    @include m.flex(row);
    background: var(--color-neutral-3);
    padding: 0.5rem;
    aspect-ratio: 1 / 1;
    height: fit-content;
    border-radius: 50%;
    width: fit-content;
  }

  &--small {
    width: clamp(1rem, calc(1rem + 0.3vw), 2rem);
    height: auto;
  }
  &--large {
    width: clamp(10rem, calc(10rem + 1vw), 15rem);
    height: auto;
  }

  &--primary {
    color: var(--color-primary);
  }
}
