.text {
  font-family: "Overpass", sans-serif;

  &__description {
    max-width: 45ch;
  }

  &--primary {
    color: var(--color-neutral-0);
  }
  &--secondary {
    color: var(--color-neutral-1);
  }
  &--tertiary {
    color: var(--color-neutral-4);
  }

  &--small {
    font-size: var(--fs-sm);
  }
  &--medium {
    font-size: var(--fs-md);
  }
  &--large {
    font-size: var(--fs-lg);
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--regular {
    font-weight: var(--fw-regular);
  }
  &--bold {
    font-weight: var(--fw-bold);
  }

  &--center {
    text-align: center;
  }
}

@media screen and (min-width: 65rem) {
  .text {
    text-align: left;
  }
}
