:root {
  /* Colors */
  /* Accent colors */
  --color-primary: hsl(25, 97%, 53%);

  /* Neutral colors */
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-1: hsl(217, 12%, 63%);
  --color-neutral-2: hsl(213, 19%, 18%);
  --color-neutral-3: hsl(212, 12%, 25%);
  --color-neutral-4: hsl(216, 12%, 8%);

  // Status colors
  --color-error: hsl(4, 100%, 67%);

  /* Spacing sizes */
  --size-xs: clamp(0.5rem, calc(0.35rem + 0.4vw), 1rem);
  --size-sm: clamp(1rem, calc(1.25rem + 0.5vw), 1.75rem);
  --size-md: clamp(1.5rem, calc(2rem + 0.5vw), 3rem);

  /* Font sizes */
  --fs-sm: clamp(1rem, calc(0.8rem + 0.7vw), 1.3rem);
  --fs-md: clamp(1.5rem, calc(1.3rem + 1vw), 2rem);
  --fs-lg: clamp(2rem, calc(1.8rem + 1.2vw), 3rem);

  /* Font weights */
  --fw-regular: 400;
  --fw-bold: 700;

  /* Tablet and Desktop */
  @media screen and (min-width: 40rem) {
    /* Font sizes */
    --fs-sm: clamp(1rem, calc(0.8rem + 0.2vw), 3rem);
    --fs-md: clamp(1.5rem, calc(1.3rem + 0.3vw), 5rem);
    --fs-lg: clamp(3rem, calc(2rem + 0.5vw), 9rem);
  }
}
