.hidden {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

:root {
  /* Colors */
  /* Accent colors */
  --color-primary: hsl(25, 97%, 53%);
  /* Neutral colors */
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-1: hsl(217, 12%, 63%);
  --color-neutral-2: hsl(213, 19%, 18%);
  --color-neutral-3: hsl(212, 12%, 25%);
  --color-neutral-4: hsl(216, 12%, 8%);
  --color-error: hsl(4, 100%, 67%);
  /* Spacing sizes */
  --size-xs: clamp(0.5rem, calc(0.35rem + 0.4vw), 1rem);
  --size-sm: clamp(1rem, calc(1.25rem + 0.5vw), 1.75rem);
  --size-md: clamp(1.5rem, calc(2rem + 0.5vw), 3rem);
  /* Font sizes */
  --fs-sm: clamp(1rem, calc(0.8rem + 0.7vw), 1.3rem);
  --fs-md: clamp(1.5rem, calc(1.3rem + 1vw), 2rem);
  --fs-lg: clamp(2rem, calc(1.8rem + 1.2vw), 3rem);
  /* Font weights */
  --fw-regular: 400;
  --fw-bold: 700;
  /* Tablet and Desktop */
}
@media screen and (min-width: 40rem) {
  :root {
    /* Font sizes */
    --fs-sm: clamp(1rem, calc(0.8rem + 0.2vw), 3rem);
    --fs-md: clamp(1.5rem, calc(1.3rem + 0.3vw), 5rem);
    --fs-lg: clamp(3rem, calc(2rem + 0.5vw), 9rem);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}
.fast-slow-hover {
  transition: 500ms ease;
  cursor: pointer;
}
.fast-slow-hover:hover {
  color: var(--color-secondary);
  transition: 200ms ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 0.4s ease forwards;
  animation-fill-mode: forwards;
  will-change: opacity;
}

.attribution {
  grid-area: attribution;
  width: 100%;
  text-align: center;
  padding-block-end: var(--size-sm);
}
.attribution__text {
  color: var(--color-neutral-0);
}
.attribution__link {
  color: var(--color-primary);
}
.attribution__link:hover {
  color: var(--color-neutral-1);
}

.button {
  background: transparent;
  cursor: pointer;
  border: none;
}
.button--rectangle {
  border-radius: calc(var(--size-sm) + 1rem);
  padding-block: calc(var(--size-xs) + 0.3rem);
}
@media screen and (min-width: 65rem) {
  .button--rectangle {
    padding: var(--size-xs) calc(var(--size-sm) - 0.5rem);
  }
}
.button--wide {
  width: 100%;
}
.button--primary {
  background: var(--color-primary);
}
.button--primary:hover {
  background: var(--color-neutral-0);
}
.button--secondary {
  background: var(--color-neutral-3);
  color: var(--color-neutral-0);
}
.button--secondary:hover {
  background: var(--color-primary);
  color: var(--color-neutral-4);
}
.button--selected {
  background: var(--color-neutral-0);
  color: var(--color-neutral-5);
}
.button--selected:hover {
  background: var(--color-neutral-0);
}
.button--circle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  padding: var(--size-sm);
  border: 0.1rem solid transparent;
}

.icon__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--color-neutral-3);
  padding: 0.5rem;
  aspect-ratio: 1/1;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
  width: -moz-fit-content;
  width: fit-content;
}
.icon--small {
  width: clamp(1rem, 1rem + 0.3vw, 2rem);
  height: auto;
}
.icon--large {
  width: clamp(10rem, 10rem + 1vw, 15rem);
  height: auto;
}
.icon--primary {
  color: var(--color-primary);
}

.text {
  font-family: "Overpass", sans-serif;
}
.text__description {
  max-width: 45ch;
}
.text--primary {
  color: var(--color-neutral-0);
}
.text--secondary {
  color: var(--color-neutral-1);
}
.text--tertiary {
  color: var(--color-neutral-4);
}
.text--small {
  font-size: var(--fs-sm);
}
.text--medium {
  font-size: var(--fs-md);
}
.text--large {
  font-size: var(--fs-lg);
}
.text--uppercase {
  text-transform: uppercase;
}
.text--regular {
  font-weight: var(--fw-regular);
}
.text--bold {
  font-weight: var(--fw-bold);
}
.text--center {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: clamp(20rem, 85vw, 25rem);
  background: var(--color-neutral-2);
  border-radius: var(--size-sm);
  padding: var(--size-md);
  gap: var(--size-sm);
  position: relative;
}
.form__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  width: 100%;
  height: 100%;
  gap: var(--size-md);
}
.form__inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
  position: relative;
}
.form__input--button {
  display: none;
}
.form__legend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--size-sm);
}
.form__text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--size-sm);
}
.form__output {
  color: var(--color-primary);
  background: var(--color-neutral-3);
  padding: calc(var(--size-sm) / 3) calc(var(--size-sm) / 2);
  border-radius: var(--size-sm);
}

.dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  border-radius: var(--size-sm);
  z-index: 99;
}
.dialog__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: var(--size-md);
  gap: var(--size-sm);
  background: var(--color-neutral-2);
}

.error {
  position: relative;
  z-index: 0;
}
.error::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  background: var(--color-error);
  opacity: 0.15;
}
.error__input {
  border: 0.1rem solid var(--color-error);
  border-radius: 50%;
  background: transparent;
  z-index: 1;
}
.error__input::-moz-placeholder {
  color: var(--color-error);
}
.error__input::placeholder {
  color: var(--color-error);
}
.error__message {
  color: var(--color-error);
  position: absolute;
  top: -0.4rem;
  left: 0;
  transform: translateY(-100%);
  font-size: clamp(0.8rem, 0.8rem + 0.05vw, 1rem);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-neutral-4);
}

@media screen and (min-width: 60rem) {
  main {
    margin-block: auto;
  }
}

footer {
  margin-block-start: var(--size-md);
}
@media screen and (min-width: 80rem) {
  footer {
    margin-block-start: 0;
  }
}